<app-navbar></app-navbar>
<div class="container my-5">
    <button [routerLink]="['/add-user']" class="btn btn-info mb-3 mx-2">add user</button>
    <button (click)="deleteAllUsers()" class="btn btn-danger mb-3 mx-2">delete all users</button>
    <table *ngIf="poepleList.length!=0" class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>lastname</th>
                <th>phone</th>
                <th>email</th>
                <th>#</th>
                <th>


                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of poepleList">
                <td>{{person.firstname}}</td>
                <td>{{person.lastname}}</td>
                <td>{{person.phone}}</td>
                <td>{{person.email}}</td>
                <td>
                    <button (click)="deletePerson(person)" class=" btn btn-danger">delete</button>
                    <button [routerLink]="['/update-user',person._id]" class="btn btn-warning mx-2">update</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="poepleList.length==0" class="alert alert-warning">table vide!</div>
</div>

<app-footer></app-footer>